/*

MainPage, Events, Workshops

*/

body {
    font-family: 'Kanit', sans-serif;
}
.regimg{
    padding-top: 15px;
    padding-bottom: 1px;
}
.circular--square {
    border-radius: 50%;
}
.navbar-brand{
    padding-top: 6px;
    padding-left: 10px;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.9);
}
/* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.5);
}

body, html {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

/* Nav Bar */

nav .logo {
    float: left;
    margin-left: 30px;
}

nav .logo a {
    font-size: 28px;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}

nav .logo em {
    font-style: normal;
    font-weight: 200;
}

nav {
    background: rgba(51, 85, 158,0.2);
    height: 80px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.menu-icon {
    background: transparent;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    margin: 15px 39px 0 auto;
    position: relative;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 5px;
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 35px;
    background: white;
    position: absolute;
    left: 15%;
    top: 50%;
    display: block;
    content: '';
    transition: all 0.5s ease-in-out;
}

.menu-icon span:before {
    left: 0;
    top: -10px;
}

.menu-icon span:after {
    left: 0;
    top: 10px;
}

.menu-icon.active {
    background: rgba(250,250,250,0.2);
}

.menu-icon.active span {
    background-color: transparent;
}

.menu-icon.active span:before,
.menu-icon.active span:after {
    top: 0;
}

.menu-icon.active span:before {
    transform: rotate(135deg);
}

.menu-icon.active span:after {
    transform: rotate(-135deg);
}
/* Menu */

.overlay-menu {
    background: rgba(0, 0, 0, 0.95);
    color: #ffffff;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 50px 0;
    opacity: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.overlay-menu.open {
    opacity: 1;
    transform: translateY(0%);
}

.overlay-menu .main-menu {
    transform: translateY(50%);
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0s;
}

.overlay-menu.open .main-menu {
    transition: all 0.7s;
    transition-delay: 0.7s;
    opacity: 1;
    transform: translateY(0%);
}

.overlay-menu .main-menu:nth-child(2) {
    transition-delay: 0s;
}

.overlay-menu.open .main-menu:nth-child(2) {
    transition-delay: 1.25s;
}

.overlay-menu {
    overflow: scroll;
}

.overlay-menu::-webkit-scrollbar {
    display: none;
}

.overlay-menu ul {
    list-style: none;
    margin-top: 80px;
    padding: 0px;
}
.overlay-menu ul li {
    padding: 15px 0px;
}

.overlay-menu ul li a {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.overlay-menu ul li a:hover {
    color: rgba(250,250,250,0.5);
}


.overlay-menu p {
    margin-top: 60px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-align: center;
}



#video-container  {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

#video-container video,
.video-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

#video-container .video-overlay {
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    width: 100%;
}

#video-container .video-content {
    z-index: 99999;
    position: absolute;
    height: 100%;
    width: 100%;
}

#video-container .video-content .inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#video-container .video-content .inner h1 {
    font-family: "Georgia", "Courier New", monospace; 
    font-size: 64px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}

/*#video-container .video-content .inner em {
    font-style: normal;
    font-weight: 200;
}*/


#video-container .video-content .inner p {
    font-family: "Georgia", "Courier New", monospace; 
    font-size: 35px;
    text-transform: uppercase;
    color: rgba(255, 255, 255,0.8);
    letter-spacing: 2px;
    font-weight: 200;
    text-align: center;
    /*color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0px 30px;*/
}

#video-container .video-content .inner a {
    color: #fff;
    text-decoration: underline;
}

#video-container .video-content .inner .scroll-icon {
    margin-top: 45px;
}

.full-screen-portfolio .container-fluid,
.full-screen-portfolio .col-md-4, .col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
}


.portfolio-item img {
    width: 100%;
    overflow: hidden;
}

.portfolio-item .thumb {
    position: relative;
}


.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
}


.full-screen-portfolio .portfolio-item h1 {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translateY(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
}

.full-screen-portfolio .portfolio-item em {
    font-style: normal;
    font-weight: 200;
}

.full-screen-portfolio .portfolio-item:hover h1 {
    transform: translateY(0);
}

.full-screen-portfolio .portfolio-item p {
    padding-left: 20px;
    font-weight: 300!important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
}

.full-screen-portfolio .portfolio-item {
    text-align: center;
    line-height: 150%;
    text-transform: lowercase;
    cursor: pointer;
}

.full-screen-portfolio .portfolio-item:hover p {
    opacity: 1;
    transform: translateY(0);
}




.popup-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 300;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.popup-icon button {
    background-color: transparent;
    outline: none;
    border: none;
}

.modal-btn img {
    width: 60px;
    height: 60px;
}


/* Keyframes */
@keyframes totop-in {
    0% {
        top: 600px;
        opacity: 0;
    }
    100% {
        top: 0%;
        opacity: 1;
    }  
}

@keyframes totop-out {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 0;
    }  
}



footer {
    width: 100%;
    height: 80px;
    background-color: #313131;
}

footer p {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 0.5px;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #aaa;
}


.grid-portfolio {
    padding: 65px 0px;
    background-color: #232323;
}

.grid-portfolio .portfolio-item {
    margin: 15px 0px;
}

.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 5px;
    left: 0;
}


.grid-portfolio .portfolio-item h1 {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translateY(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
}

.grid-portfolio .portfolio-item em {
    font-style: normal;
    font-weight: 200;
}

.grid-portfolio .portfolio-item:hover h1 {
    transform: translateY(0);
}

.grid-portfolio .portfolio-item p {
    padding-left: 20px;
    font-weight: 300!important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
}

.grid-portfolio .portfolio-item:hover p {
    opacity: 1;
    transform: translateY(0);
}

.grid-portfolio .load-more-button {
    margin-top: 15px;
}

.grid-portfolio .load-more-button a {
    width: 100%;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    background-color: #313131;
    transition: all 0.5s;
}

.grid-portfolio .load-more-button a:hover {
    color: rgba(250,250,250,0.5);
}


@media (max-width: 530px) {

    .grid-portfolio {
        padding: 0px 0px;
    }

    .grid-portfolio .portfolio-item {
        margin: 30px 0px;
    }

    .grid-portfolio .load-more-button {
        padding-bottom: 30px;
    }

    .more-about-us .content {
        padding: 60px 30px;
    }

}

